<footer class="footer">
  <div class="container">
    <div class="footer-buttons">
      <button class="footer-btn" type="button">Our Locations
        <svg class="" width="5" height="10">
          <use href="./images/icons.svg#vector"></use>
        </svg>
      </button>
      <button class="footer-btn-second" type="button">Franchise
        <svg class="btn-icon" width="5" height="10">
          <use href="./images/icons.svg#vector"></use>
        </svg>
      </button>
    </div>
    <div class="footer-box">
      <div class="footer-articles">
        <p class="footer-textup">homemade ice cream made</p>
        <p class="footer-textdown">with passion</p>
      </div>
      <div class="socials-group">
        <ul class="footer-socials">
          <li>
            <a class="footer-social-link link" href="https://github.com/" target="_blank"
              rel="nofollow noopener noreferrer" aria-label="github-icon">
              <svg class="social-icon" width="34" height="34">
                <use href="./images/icons.svg#github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer-social-link link" href="https://web.telegram.org/" target="_blank"
              rel="nofollow noopener noreferrer" aria-label="telegram-icon">
              <svg class="social-icon" width="34" height="34">
                <use href="./images/icons.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer-social-link link" href="https://facebook.com/" target="_blank"
              rel="nofollow noopener noreferrer" aria-label="facebook-icon">
              <svg class="social-icon" width="34" height="34">
                <use href="./images/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <a class="footer-tel" href="tel:+610383766284"><span class="footer-tel-text">Feel free to contact</span> +61 (0)
          383 766 284</a>
      </div>      
    </div>
    <div class="underline-block">
      <p class="footer-underline">© 2022 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>