<section class="section hero">
  <div class="container hero__cotainer">
 <h1 class="hero__title">ice cream made with <spsn class="hero__title hero__title--big">passion</spsn></h1>
  <div class="hero__btn-box">
    <a href="#prodacts" class="hero__btn hero__btn--left">Products</a>
    <a href="#about" class="hero__btn hero__btn--right">How it’s made?</a>
  </div>
  <div class="hero__text-box">
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>

  <!-- <svg class="hero__text-arrow" width="40" height="16">
      <use href="./images/sprite.svg#icon-long-arrow"></use>
    </svg> -->

  <ul class="hero__own-list">
    <li class="hero__own-item"><span class="hero__own-number">16</span> cafes</li>
    <li class="hero__own-item"><span class="hero__own-number">23</span> food brucks</li>
  </ul>
  </div>
</section>
