    <section class="products">
        <div class="container">
            <label class="products--tittle">100% natural</label>
            <h2 class="products--name">products</h2>
            <ul class="products--list list">
                <li class="products--item">
                    <div class="products--thumb">
                        <div class="products--circle__cream">
                        </div>
                    </div>
                    <h3 class="products--item__tittle">ice cream</h3>
                    <p class="products--item__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and
                        natural stabilizer
                    </p>
                    <button class="products--arrow__ice">
                        <svg width="40" height="16">
                            <use href="./images/sprite.svg#icon-long-arrow"></use>
                        </svg>
                    </button>
                </li>
                <li class="products--item">
                    <div class="products--thumb">
                        <div class="products--circle__coffee">
                        </div>
                    </div>
                    <h3 class="products--item__tittle">ice coffee</h3>
                    <p class="products--item__text">Fragrant invigorating drink created from 100% natural ingredients
                        without the use of preservatives and flavor enhancers</p>
                    <button class="products--arrow__coffee">
                        <svg width="40" height="16">
                            <use href="./images/sprite.svg#icon-long-arrow"></use>
                        </svg>
                    </button>
                </li>
                <li class="products--item">
                    <div class="products--thumb">
                        <div class="products--circle__milkshakes">
                        </div>
                    </div>
                    <h3 class="products--item__tittle">milkshakes</h3>
                    <p class="products--item__text">Sweet drinks based on milk and ice cream, supplemented with syrups,
                        fruits, berries and other sweets of your choice</p>
                    <button class="products--arrow__milkshake">
                        <svg width="40" height="16">
                            <use href="./images/sprite.svg#icon-long-arrow"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
    </section>

