<section class="reviews">
  <img
    srcset="
      ./images/reviews/desktop.jpg    1013w,
      ./images/reviews/desktop@2x.jpg 2026w,
      ./images/reviews/tablet.jpg      704w,
      ./images/reviews/tablet@2x.jpg  1408w,
      ./images/reviews/mobile.jpg      280w,
      ./images/reviews/mobile@2x.jpg   560w
    "
    alt="icecreams"
    class="reviews__img--icecreams"
    sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 280px, 100vw"
    src="./images/reviews/desktop.jpg"
  />
  <img
    srcset="
      ./images/reviews/customer-1.jpg     55w,
      ./images/reviews/customer-1@2x.jpg 110w
    "
    alt="customer-1"
    class="reviews__img--customer-1"
    sizes="(min-width: 480px) 55px, 100vw"
    src="./images/reviews/customer-1.jpg"
  />
  <p class="reviews__text">
    I love visiting your cafe. You prepare the most delicious ice cream in Los
    Angeles! In addition, you have beautiful serving, cozy atmosphere and polite
    staff.
  </p>
  <p class="review__text--owner">Emily, Los Angeles</p>
</section>
