.about {
  padding-top: 68px;
  padding-bottom: 60px;
}

.about__label {
  margin-bottom: 12px;

  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.04em;
  line-height: 1.22;

  @media screen and (max-width: 767px) {
    font-weight: 700;
    font-size: 18px;
  }

  @media screen and (min-width: 768px) {
    font-size: 22px;
    font-weight: 800;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}

.about__header {
  font-family: 'Seymour One', sans-serif;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;

    font-size: 30px;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 72px;

    font-size: 34px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 82px;

    font-size: 36px;
    line-height: 1.17;
  }
}

.about__container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.about__thumb {
  background-color: rgba(248, 210, 78, 0.7);
  background-size: contain;
  background-repeat: no-repeat;

  //   Mobile

  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 280px;
    height: 300px;

    background-position: 50% 22px;
    background-image: url('../images/about/cow-sm@1x.png');

    @media screen and (min-device-pixel-ratio),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/about/cow-sm@2x.png');
    }

    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
    border-radius: 140px;
  }

  //   Tablet

  @media screen and (min-width: 768px) {
    margin-right: 38px;
    min-width: 330px;
    height: 356px;

    background-position: 50% 26px;
    background-image: url('../images/about/cow-md@1x.png');

    @media screen and (min-device-pixel-ratio),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/about/cow-md@2x.png');
    }

    box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
    border-radius: 165px;
  }

  //   Desktop

  @media screen and (min-width: 1200px) {
    margin-right: 109px;
    min-width: 491px;
    height: 529px;

    background-position: 50% 39px;
    background-image: url('../images/about/cow-lg@1x.png');

    border-radius: 250px;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);

    @media screen and (min-device-pixel-ratio),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/about/cow-lg@2x.png');
    }
  }
}

.about__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.04em;

  @media screen and (max-width: 767px) {
    text-align: center;

    &--hidden {
      display: none;
    }

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.about__button {
  position: relative;

  min-width: 164px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 34px;
  padding-right: 51px;

  font-size: 14px;
  font-weight: 600;

  color: #000000;
  background-color: #f8d24e;

  border-radius: 10px;
  border-color: transparent;

  @media screen and (max-width: 767px) {
    display: block;
    margin-top: 10px;

    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 768px) {
    margin-top: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 54px;
  }
}

.about__icon {
  position: absolute;
  top: 15px;
  right: 35px;
}
