// Mixins
@mixin transition(
  $property,
  $duration: 250ms,
  $timing: cubic-bezier(0.4, 0, 0.2, 1)
) {
  transition: $property $duration $timing;
}

@mixin centered-flex($type: flex, $ai: center, $jc: false) {
  display: $type;
  align-items: $ai;

  @if $jc {
    justify-content: $jc;
  }
}

@mixin media($size, $type: min) {
  @if $size ==mobile {
    $width: 320px;

    @if $type ==max {
      $width: $width - 1px;
    }

    @media screen and (#{$type}-width: $width) {
      @content;
    }
  } @else if $size ==tablet {
    $width: 768px;

    @if $type ==max {
      $width: $width - 1px;
    }

    @media screen and (#{$type}-width: $width) {
      @content;
    }
  } @else if $size ==desktop {
    $width: 1200px;

    @if $type ==max {
      $width: $width - 1px;
    }

    @media screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// HIRO

.hero {
  background-color: #84a178;
}

.hero__cotainer {
  position: relative;

  @include media(tablet, max) {
    padding-bottom: 237px;
    padding-top: 50px;
    max-width: 320px;

    background-image: url(../images/hero/ice-cream-mob.png),
      url(../images/hero/points-mob.png);
    background-repeat: no-repeat;
    background-position: 83px bottom, 0 bottom;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-size: 177px, 320px;
      background-image: url(../images/hero/ice-cream-mob@2x.png),
        url(../images/hero/points-mob@2x.png);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    padding-bottom: 24px;
    padding-top: 14px;

    background-image: url(../images/hero/ice-cream-tab.png),
      url(../images/hero/points-tab.png);
    background-repeat: no-repeat;
    background-position: 408px bottom, 0 bottom;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-size: 268px, 768px;
      background-image: url(../images/hero/ice-cream-tab@2x.png),
        url(../images/hero/points-tab@2x.png);
    }

    &::after {
      position: absolute;
      bottom: 12px;
      left: 32px;

      content: '';
      width: 152px;
      height: 152px;

      background-image: url(../images/hero/ice-cream-plate-tab.png);
      background-repeat: no-repeat;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-size: 152px;
        background-image: url(../images/hero/ice-cream-plate-tab@2x.png);
      }

      animation: rotate-in-center 1800ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    }
  }

  @include media(desktop) {
    padding-bottom: 105px;
    padding-top: 45px;

    background-image: url(../images/hero/ice-cream-desk.png),
      url(../images/hero/points-desk.png);
    background-repeat: no-repeat;
    background-position: 652px bottom, 0 bottom;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-size: 456px, 1200;
      background-image: url(../images/hero/ice-cream-desk@2x.png),
        url(../images/hero/points-desk@2x.png);
    }

    &::after {
      position: absolute;
      bottom: 65px;
      left: 16px;

      content: '';
      width: 225px;
      height: 225px;

      background-image: url(../images/hero/ice-cream-plate-desk.png);
      background-repeat: no-repeat;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-size: 225px;
        background-image: url(../images/hero/ice-cream-plate-desk@2x.png);
      }

      animation: rotate-in-center 1500ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    }
  }
}

@keyframes rotate-in-center {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }

  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

.hero__title {
  margin-bottom: 32px;
  max-width: 247px;

  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 26px;
  line-height: calc(33px / 26px);
  text-transform: uppercase;

  &--big {
    font-size: 34px;
    line-height: calc(33px / 34px);
  }

  @include media(tablet) {
    margin-bottom: 24px;
  }

  @include media(desktop) {
    margin-bottom: 28px;
    max-width: 367px;

    font-size: 38px;
    line-height: calc(48px / 38px);
  }
}

.hero__btn-box {
  @include media(tablet) {
    margin-bottom: 39px;
  }

  @include media(desktop) {
    margin-bottom: 109px;
  }
}

.hero__btn {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-flex;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15px / 12px);

  @include media(desktop) {
    font-size: 14px;
    line-height: calc(18px / 14px);
  }

  &--left {
    padding: 11px 26px;

    color: #000000;
    border: 2px solid #f8d24e;
    border-radius: 8px;

    &:hover,
    &:focus {
      border-color: #0a8817;
    }

    @include media(desktop) {
      padding: 12px 34px;

      &:hover {
        border-color: #0a8817;
      }

      &:focus {
        border-color: #0a8817;
        color: #fcfcfc;
      }
    }
  }

  &--right {
    padding: 11px 12px;
    color: #f8d24e;
    text-decoration: underline;

    &:hover {
      color: #0a8817;
    }
    &:focus {
      color: #fcfcfc;
    }

    @include media(desktop) {
      padding: 12px 34px;
    }
  }
}

.hero__text-box {
  position: relative;

  @include media(tablet, max) {
    display: none;
  }

  @include media(tablet) {
    margin-left: 184px;
    width: 139px;
  }

  @include media(desktop) {
    margin-left: 241px;
    width: 200px;
  }

  & .slick-arrow {
    padding: 8px 20px;
    background-color: transparent;
    border: none;
    font-size: 0;

    &.slick-prev {
      position: absolute;
      display: none;
      opacity: 0;
      overflow: hidden;
    }
    &.slick-next {
      background-image: url(../images/hero/arrow.svg);
      background-repeat: no-repeat;
      background-position: right bottom;
    }
  }
}

// Slider
.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}
//

.hero__text {
  @include media(tablet) {
    margin-bottom: 12px;

    font-size: 12px;
    line-height: calc(17px / 12px);
    letter-spacing: 0.01em;
  }

  @include media(desktop) {
    margin-bottom: 24px;

    font-size: 14px;
    line-height: calc(20px / 14px);
    letter-spacing: 0em;
  }
}

.hero__text-arrow {
  fill: #fcfcfc;
}

.hero__own-list {
  position: absolute;
  right: 32px;
  top: 28px;

  text-align: end;

  @include media(tablet, max) {
    display: none;
  }

  @include media(tablet) {
    font-size: 8px;
    line-height: calc(10px / 8px);
  }

  @include media(desktop) {
    right: 16px;
    top: 53px;

    font-size: 14px;
    line-height: calc(17px / 14px);
  }
}

.hero__own-item {
  @include media(tablet) {
    margin-bottom: 20px;
  }

  @include media(desktop) {
    margin-bottom: 16px;
  }
}

.hero__own-number {
  margin-bottom: 4px;

  display: block;
  color: #131313;

  @include media(tablet) {
    font-weight: 900;
    font-size: 28px;
    line-height: calc(34px / 28px);
  }

  @include media(desktop) {
    font-size: 46px;
    line-height: calc(56px / 46px);
  }
}
